body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    background: #2c3e50;
    color: white;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: yellow;
}

.content {
    padding: 20px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card {
    background: white;
    padding: 20px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
    text-align: center;
}

.card:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

footer {
    background: #2c3e50;
    color: white;
    text-align: center;
    padding: 10px;
}