
 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #667eea, #764ba2);
    color: #333;
}


header {
    background: #1e1e2f;
    padding: 20px;
    text-align: center;
    color: white;
}


nav {
    margin-top: 10px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 5px;
    transition: 0.3s;
}

nav a:hover {
    background-color: #ff9800;
    color: #000;
}


.content {
    padding: 40px 20px;
    text-align: center;
}


.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 30px;
}


.card {
    background: white;
    width: 260px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

/* Different Colors for Each Subject */
.card:nth-child(1) {
    border-top: 6px solid #ff4b5c;   /* Red */
}

.card:nth-child(2) {
    border-top: 6px solid #1abc9c;   /* Green */
}

.card:nth-child(3) {
    border-top: 6px solid #3498db;   /* Blue */
}


.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 18px;
    background: #764ba2;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s;
}

.btn:hover {
    background: #ff9800;
    color: black;
}

/* Forms */
form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    text-align: left;
    margin-top: 20px;
}

input[type="submit"] {
    background: #764ba2;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #ff9800;
    color: black;
}


footer {
    margin-top: 40px;
    padding: 15px;
    text-align: center;
    background: #1e1e2f;
    color: white;
}

